.container{
display: block;
justify-content: center;
}

p{
color: white;
font-size: 20px;
}

.about{
    margin-left: 500px;
    margin-right: 500px;
    color: aqua;
    position: relative;
    justify-content: center;
    text-align: center;
    top: 120px;
    font-size: 5vh;
    padding-bottom: 15px;
            border-bottom-style: solid;
            border-bottom-width: 3.1px;
          
        
    
    
}


.info{
    position: relative;
    text-align: center;
    top: 150px;
    margin: 10px;
    
    font-size: 10vh;
}
@media only screen and (max-width: 775px) {
    .about{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        top: 120px;
        margin-left: 50px;
        margin-right: 50px;
        
    }
    
}