.uimain {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    background: linear-gradient(to bottom #141e2f,black);
}

h1 {
    font-size: 18vh;
    min-height: 30vh;
}

.uih1 {
    width: 100vw;
    margin: 0px;
    text-align: center;
    align-items: baseline;
    padding: 0px;
    font-size: 10vw;
    background-size: cover;
    font-family: sans-serif;
    margin-bottom: 4%;
}

.uicontainer {
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    justify-content: baseline;
    height: 25%;
    max-height: fit-content;
    padding-bottom: 1%;
    background-color: #111317;
    max-width: 96vw;
    border-radius: 10px;
}

.uih2 {
    margin: 0px;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 0px;
    font-size: 2vw;
}

.uip {
    max-height: 29vw;
}

.uiline {
    width: 90%;
    min-height: 100%;
    font-size: 2px;
    background-color: white;
}

.uimini {
    display: flex;
    height: fit-content;
    max-width: 100%;
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.uibottom {
    display: flex;
    width: 90%;
    height: 100%;
    min-height: 30%;
    flex-direction: row;
    justify-content: flex-end;
}

.uiimg {
    min-height: 30vh;
    min-width: 30vw;
    max-height: 40vh;
    max-width: 40vw;
    height: 30vw;
    margin: 0vw;
    width: 30vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.uidescbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: large;
    min-width: 50%;
    min-height: fit-content;

    margin-top: 1%;
    justify-content: flex-start;
}

.uiAbout {
    display: flex;
    width: 100%;
    min-height: 20%;
    max-height: fit-content;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    margin-left: 3%;
}

.uih2{
    font-size: 2.5vw;
}
.uip{
    font-size: 2vw;
}
.uih2{
    font-size: 3vw;
}
.uibutton {
    width: 10vw;
    height: 7vh;
    font-size: 2vw;
}

.uieventdetail {
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 100%;
}

.uiol {
    font-size: 1.5vw;
    width: 100%;
    color: white;
    margin-left: 3vw;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 25vw;
    }

    .uiimg {
        min-height: 150px;
        min-width: 150px;
        height: 25vw;
        margin: 0vw;
        width: 25vw;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .uibutton {
        max-height: 5vh;
        width: 100%;
        font-size: large;
    }

    .uih2 {
        font-size: 8vw;
        font-weight: bold;
    }

    .uiol {
        overflow-y: scroll;
        font-size: 3vw;
    }
}